$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    height: 397px;
    padding: 14px 21px;
    display: flex;
    flex-direction: column;
    width: 287px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    .logo {
      display: flex;
      justify-content: center;
    }
    .titleForm {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 0.3);
      margin-bottom: 11px;
      margin-top: 43px;
      display: flex;
      justify-content: center;
    }
    .loginInputContainer {
      margin-bottom: 18px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
      width: 100%;
      height: 33px;
      display: flex;
      justify-content: center;
      .inputMessageIcon {
        margin-top: 8px !important;
      }
      .inputIcon {
        margin-top: 6px;
        margin-right: 14px;
      }
      .loginInput {
        all: unset;
      }
      .loginInput::placeholder {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .loginButton {
      cursor: pointer;
      margin: 17px 0px 12px 0px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 33px;
      background: #78c2dd;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      line-height: 33px;
      color: #ffffff;
    }
    .passwordSentTitle {
      margin-top: 90px !important;
      margin-bottom: 38px !important;
      text-align: center;
      font-feature-settings: "liga" off;
    }
    .forgetPasswordButton {
      display: flex;
      justify-content: center;
      color: rgba(0, 0, 0, 0.3);
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
