$font-stack: Helvetica, sans-serif;
$primary-color: #333;
.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .imageBlock {
    position: relative;
    height: 100%;
    background-image: url(/assets/BackgroundLogin.svg);
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .centerCircle {
      position: absolute;
      top: 44%;
      right: -66px;
      height: 124px;
      width: 124px;
      border-radius: 50%;
      border: 5px solid white;
      background-color: #c5e8f4;
    }
    .container {
      div {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 61px;
      }
      .loginImage {
        margin-top: 59px;
      }
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .container {
      height: 369px;
      padding: 14px 21px;
      display: flex;
      flex-direction: column;
      width: 419px;
      .logo {
        display: flex;
        justify-content: center;
      }
      .error {
        font-size: 12px;
        text-align: center;
        color: red;
        height: 15px;
        margin-top: 20px;
      }
      .titleForm {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.3);
        margin-bottom: 11px;
        margin-top: 23px;
        display: flex;
        justify-content: center;
      }
      .logincaptchaContainer {
        text-align: center;
      }
      .loginInputContainer {
        margin-bottom: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
        width: 100%;
        height: 33px;
        display: flex;
        border-radius: 5px;
        .inputMessageIcon {
          margin-top: 8px !important;
        }
        .inputIcon {
          margin-left: 8px;
          margin-top: 8px;
        }
        .loginInput {
          all: unset;
          padding-left: 7.8px;
          width: 90%;
        }
        .loginInput::placeholder {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 18px;
          color: rgba(0, 0, 0, 0.3);
        }
      }

      .sendPasswordButton {
        text-decoration: none;
        cursor: pointer;
        margin: 6px 0px 12px 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 33px;
        background: #78c2dd;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        line-height: 33px;
        color: #ffffff;
        border-radius: 5px;
      }
      .loginButton {
        text-decoration: none;
        cursor: pointer;
        margin: 6px 0px 12px 0px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 33px;
        border-radius: 5px;
        background: #78c2dd;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        line-height: 33px;
        padding: 0px 1px;
        color: #ffffff;
      }
      .passwordSentTitle {
        margin-top: 90px !important;
        margin-bottom: 20px !important;
        text-align: center;
        font-feature-settings: "liga" off;
      }
      .forgetPasswordButton {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: rgba(0, 0, 0, 0.3);
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
