$small: 300px;
$medium: 1410px;

.wrapper {
  display: flex;
  flex-direction: row;
}
.container {
  margin: 43px 125px 0px 73px;
  width: 100%;
  .blocksContainer {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
    grid-auto-rows: minmax(160px, auto);
    .headerBlock {
      font-size: 18px;
      position: absolute;
      top: -30px;
    }
    .productsBlock {
      position: relative;
      grid-column: 1 / 3;
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 38px;
      grid-auto-rows: minmax(160px, auto);
      @media screen and (max-width: $small) {
        //do Smth
      }
      @media screen and (max-width: $medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / 5;
      }
    }
    .buyersBlock {
      position: relative;
      margin-top: 10px;
      grid-column: 3 / 4;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 38px;
      grid-auto-rows: minmax(160px, auto);
      @media screen and (max-width: $medium) {
        grid-column: 1 / 3;
        grid-row: 2;
      }
    }
    .subscriptionsBlock {
      position: relative;
      margin-top: 10px;
      grid-column: 4 / 5;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 38px;
      grid-auto-rows: minmax(160px, auto);
      @media screen and (max-width: $medium) {
        grid-column: 3 / 5;
        grid-row: 2;
      }
    }
  }
}
