.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 20px;
  .inputWrapper {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(190, 190, 190, 0.38);
    box-sizing: border-box;
    box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    flex-basis: 678px;
    flex-grow: 0;
    height: 45px;
    position: relative;
    .input {
      outline: none;
      border: none;
      display: flex;
      flex-basis: 600px;
      flex-grow: 0;
      line-height: 40px;
      margin-left: 20px;
    }
    .input::placeholder {
      font-family: nekoulaFont;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #c0c0c0;
    }
    .icon {
      position: absolute;
      top: 6px;
      right: 10px;
    }
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  font-feature-settings: "liga" off;
  color: #c0c0c0;
}
