@font-face {
  font-family: "MontserratFont";
  src: local("MontserratFont"),
    url(../../../assets/Montserrat-Regular.woff) format("woff");
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.18);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .chartContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    .chart {
      position: relative;
      width: 100px;
      height: 100px;
      margin-right: 30px;
      .centerChart {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 40%;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        font-feature-settings: "liga" off;
        color: #c0c0c0;
      }
      svg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      circle {
        fill: transparent;
      }
      .text {
        height: 5px;
        width: 5px;
        fill: #fff;
        font-size: 2px;
        text-align: left;
      }
    }
    .chartLabels {
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        font-feature-settings: "liga" off;
        color: #c0c0c0;
        margin-bottom: 15px;
      }
      .labels {
        .labelContainer {
          display: flex;
          flex-direction: row;
          margin-bottom: 8px;
          padding-left: 20px;
          .colorBlock {
            height: 16px;
            width: 16px;
            margin-right: 5px;
            border-radius: 2px;
          }
          .label {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 130%;
            font-feature-settings: "liga" off;
            color: #c0c0c0;
          }
        }
      }
    }
  }
  .chartPart {
    position: relative;
    .chartArrow {
      position: absolute;
      left: 0;
      right: 0;
      font-size: 3px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    .title {
      font-family: MontserratFont;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 150%;
      text-align: center;
      color: #464646;
    }
    .description {
      position: relative;
      .info {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        font-feature-settings: "liga" off;
        color: #c0c0c0;
      }
      .percent {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        font-feature-settings: "liga" off;
        color: #b3de75;
        position: absolute;
        right: -35px;
        top: -5px;
      }
      .orange {
        color: #f5ab92 !important;
      }
    }
  }
}
