.wrapper {
  margin-top: 3px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(190, 190, 190, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  flex-basis: 678px;
  flex-grow: 0;
  height: 45px;
  position: relative;
  .input {
    outline: none;
    border: none;
    display: flex;
    flex-basis: 600px;
    flex-grow: 0;
    line-height: 40px;
    margin-left: 8px;
  }
  .input::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #c0c0c0;
  }
  .icon {
    position: absolute;
    top: 6px;
    right: 10px;
  }
}
