$small: 300px;
$medium: 1590px;
.wrapper {
  display: flex;
  flex-direction: row;
}
.container {
  margin: 43px 103px 0px 73px;
  width: 100%;
  @media screen and (max-width: $medium) {
    margin: 43px 20px 0px 20px;
  }
}
.controlSection {
  margin-right: 3px;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
}
.downloadLink {
  text-decoration: none;
}
.controlBotton {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 8px double white;
  background: #78c2dd;
  border-radius: 6px;
  outline: 0;
  width: 221px;
  height: 51px;
  line-height: 35px;
  text-align: center;
  margin-left: 18px;
}
