.wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 13px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  max-width: 100%;
  .icon {
    margin-left: -1px;
    margin-right: 10.3px;
    div {
      background-color: #b3de75;
      display: flex;
      border-radius: 50%;
      width: 47.9px;
      height: 44px;
      justify-content: center;
      align-items: center;
    }
  }
  .title {
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
  }
  .logout {
    margin-top: 15px;
    text-align: right;
    width: 100%;
    .logoutIcon {
      cursor: pointer;
    }
  }
}
