.wrapper {
  width: 88px;
  min-height: 100vh;
  border-radius: 0px 50px 0px 0px;
  background: #c5e8f4;
  box-shadow: 5px 35px 8px rgba(0, 0, 0, 0.25);

  .logo {
    margin: 28px 0px 58px -5px;
  }
  .navLinksWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .NavLinkContainer {
      margin-bottom: 19px;
      .navlink {
        svg {
          padding: 8px 8px 8px 8px;
        }
      }
      .navlinkSmall {
        svg {
          padding: 11px;
          margin-top: -3px;
        }
      }
    }
  }
}
.active {
  svg {
    background-color: #b3de75;
    border-radius: 50%;
  }
}
