@font-face {
  font-family: "MontserratFont";
  src: local("MontserratFont"),
    url(../../assets/Montserrat-Regular.woff) format("woff");
}

.tableConainer {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  overflow-x: scroll;
}
table {
  table-layout: fixed;
  // width: 1635px;
  margin-top: 20px;
  border-collapse: collapse;
  .orderInfoBlock {
    border: 1px solid #c0c0c0;
  }
  tr {
    position: relative;
    td {
      font-family: MontserratFont;
      color: #000000;
      font-feature-settings: "liga" off;
    }
    .tableCell {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    th,
    td {
      font-size: 14px;
      border: 1px solid #c0c0c0;
      border-collapse: collapse;
      height: 48px;
      text-align: center;
      line-height: 150%;
      .tableLink {
        text-decoration: none;
        color: black;
      }
    }
  }
  tr:nth-child(even) {
    background: #f7f7f7;
  }
}
.extra {
  border: none;
  text-align: start;
  background-color: #fff;
}

.ThreeDots {
  position: relative;
  cursor: pointer;
}
.PopupOptions {
  position: absolute;
  left: calc(50% - 38px);
  transform: translateX(-50%);
  width: 202px;
  top: 50px;
  z-index: 6;
}
.cover {
  position: absolute;
  height: 50%;
  width: 90%;
}

.curser {
  cursor: pointer;
}
.boxInputContainer {
  width: 52px;
  .boxInput {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    height: 24px;
    width: 24px;
    border: 2px solid #c0c0c0;
    border-radius: 4px;
    &::before {
      font-family: "FontAwesome";
      content: "\f00c";
      font-size: 15px;
      color: transparent !important;
      display: block;
      width: 15px;
      height: 15px;
      margin-left: 2px;
      margin-top: 2px;
    }
    &:checked::before {
      color: black !important;
    }
  }
}
