@font-face {
  font-family: "MontserratFont";
  src: local("MontserratFont"),
    url(../../assets/Montserrat-Regular.woff) format("woff");
}

.tableConainer {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  overflow-x: scroll;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  .orderInfoBlock {
    border: 1px solid #c0c0c0;
  }
  tr {
    position: relative;
    td {
      font-family: MontserratFont;
      color: #000000;
      font-feature-settings: "liga" off;
    }
    th,
    td {
      font-size: 14px;
      border: 1px solid #c0c0c0;
      border-collapse: collapse;
      height: 48px;
      text-align: center;
      line-height: 150%;
      max-width: 100px;
      .tableLink {
        text-decoration: none;
        color: black;
      }
    }
  }
  tr:nth-child(even) {
    background: #f7f7f7;
  }
}
.extra {
  border: none;
  text-align: start;
  background-color: #fff;
}

.ThreeDots {
  position: relative;
  cursor: pointer;
}
.PopupOptions {
  position: absolute;
  left: calc(50% - 38px);
  transform: translateX(-50%);
  width: 202px;
  top: 50px;
  z-index: 6;
}
.cover {
  position: absolute;
  height: 70%;
  width: 90%;
}

.curser {
  cursor: pointer;
}
