@font-face {
  font-family: "MontserratFont";
  src: local("MontserratFont"),
    url(./assets/Montserrat-Regular.woff) format("woff");
  font-family: "MontserratBold";
  src: local("MyFontBold"), url(./assets/Montserrat-Bold.woff) format("woff");
}
html {
  font-family: MontserratBold;
}
body {
  margin: 0;
}
